* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}

body {
  font-family: 'Poppins', sans-serif;
  overflow: auto;
  position: relative;
  background: rgb(247,246,246);
  background: linear-gradient(90deg, rgba(232,237,247,1) 0%, rgba(253,255,254,1) 35%, rgba(232,237,247,1) 100%);
}

body::before {
  content: "";
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-image: url("../img/Logo-vector-bottom.png");
  background-repeat: no-repeat;
  background-size: 15%; 
  background-position: bottom; 
  filter: blur(2px);
  z-index: -1;
}

button {
  background-color: rgba(90, 84, 104, 1);
  color: white;
  border: none;
  padding: 8px 16px;
  font-weight: bold;
  cursor: pointer;
  font-size: 25px;
  transition: background-color 0.3s;
}

button:hover {
  background-color: rgba(26, 21, 32, 1);
  transition: 0.3s;
  border-radius: 10px;
}

.user-bar {
  background-color: rgba(90, 84, 104, 1);
  padding: 10px;
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.img-userbar {
  width: 310px;
  height: 60px;
}

.user-info {
  display: flex;
  align-items: center;
  font-family: 'Poppins', sans-serif;
  font-weight: bold;
}

.user-info span {
  margin-right: 10px;
}

span {
  color: #fff;
  font-size: 25px;
}

.select-large {
  width: 300px;
  height: 100px;
  color: black;
  margin-top: 60px;
  margin-left: 30px;
  padding: 10px;
  border-radius: 5px;
  font-size: 18px;
}

.empresa-option {
  color: rgba(90, 84, 104, 1);
}

.dropdowns {
  display: flex;
  justify-content: center;
  align-items: center;
  padding-right: 10px;
}

#show-page-report1,
#show-page-report2,
#show-page-report3,
#show-page-report4,
#show-page-report5,
#show-page-report6,
#show-page-report7,
#show-page-report8,
#show-page-report9, 
#show-page-report10,
#show-page-report11 {
  margin-top: 60px;
  display: block;
  text-align: center;
  border-radius: 25%;
  border-style: double;
}

#show-page-report1 a,
#show-page-report2 a,
#show-page-report3 a,
#show-page-report4 a,
#show-page-report5 a,
#show-page-report6 a,
#show-page-report7 a,
#show-page-report8 a,
#show-page-report9 a,
#show-page-report10 a,
#show-page-report11 a{
  display: block;
  padding: 10px 20px;
  color: white;
  font-weight: bold;
  text-decoration: none;
}

.buttons-reports {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  align-items: center;
  margin-top: 20px;
}

#show-page-report1 button,
#show-page-report2 button,
#show-page-report3 button,
#show-page-report4 button,
#show-page-report5 button,
#show-page-report6 button,
#show-page-report7 button,
#show-page-report8 button,
#show-page-report9 button,
#show-page-report10 button,
#show-page-report11 button{
  display: block;
  padding: 10px 20px;
  background-color: rgba(90, 84, 104, 1);
  color: white;
  font-weight: bold;
  text-decoration: none;
  margin-bottom: 10px;
}

#show-page-report1 button:hover,
#show-page-report2 button:hover,
#show-page-report3 button:hover,
#show-page-report4 button:hover,
#show-page-report5 button:hover,
#show-page-report6 button:hover,
#show-page-report7 button:hover,
#show-page-report8 button:hover, 
#show-page-report9 button:hover, 
#show-page-report10 button:hover,
#show-page-report11 button:hover {
  background-color: rgba(26, 21, 32, 1);
  transition: 0.3s;
}

#clear-button,
#clear-button-d,
#clear-button-e {
  margin-bottom: 10px;
  width: 2%;
  font-size: 15px;
  background-color: #aa4655;
}

.report-button {
  margin-left: 10px;
  margin-right: 10px;
}

.buttons-reports button {
  width: 300px;
  height: 150px;
}

.buttons-reports button a i,
.buttons-reports button a {
  display: block;
  text-align: center;
  margin-bottom: 10px;
}

.icon-cheques {
  color: rgb(113, 197, 221);
  font-size: 45px;
}

.icon-compras {
  color: rgb(146, 197, 182);
  font-size: 45px;
}

.icon-recepcion {
  color: rgb(154, 167, 230);
  font-size: 45px;
}

.icon-logout {
  color: #EAEAEA;
}

.icon-tickets {
  color: rgb(180, 224, 115);
  font-size: 45px;
}

.icon-tickets-general {
  color: rgb(218, 112, 112);
  font-size: 45px;
}

.icon-levantamientos {
  color: rgb(79, 156, 80);
  font-size: 45px;
}

.icon-quejas {
  color: rgb(85, 173, 205);
  font-size: 45px;
}

.icon-odc {
  color: rgb(212, 157, 212);
  font-size: 45px;
}

.icon-marcaje {
  color: rgb(202, 145, 112);
  font-size: 45px;
}

.icon-azteca {
  color: rgb(206, 226, 136);
  font-size: 45px;
}

@keyframes fadeInDown {
  0% {
    opacity: 0;
    transform: translateY(-20px);
  }
  100% {
    opacity: 1;
    transform: translateY(0);
  }
}

.dropdowns {
  animation: fadeInDown 1s ease-out;
}

@keyframes fadeInUp {
  0% {
    opacity: 0;
    transform: translateY(20px);
  }
  100% {
    opacity: 1;
    transform: translateY(0);
  }
}

.buttons-reports {
  animation: fadeInUp 1s ease-out;
}
