*{
	padding: 0;
	margin: 0;
	box-sizing: border-box;
}

body{
  font-family: 'Poppins', sans-serif;
  overflow: hidden;
  background-color: #fff;
}

button {
  background-color: rgba(90,84,104,1);
  color: white;
  border: none;
  padding: 8px 16px;
  font-weight: bold;
  cursor: pointer;
  font-size: 25px;
}

button:hover {
  background-color: rgba(26, 21, 32,1);
  transition: .3s;
  border-radius: 20%;
}

.user-bar {
  background-color: rgba(90,84,104,1);
  padding: 10px;
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.user-info {
  display: flex;
  align-items: center;
}

.user-info span {
  margin-right: 10px;
}

span {
  color: #fff;
  font-size: 25px;
}

.select-large {
  width: 300px;
  height: 200px;
  color: black;
  font-size: 20px;
  margin-top: 30px;
  margin-left: 30px;
}

.empresa-option {
  color: rgba(90,84,104,1);
}

.dropdowns {
  display: flex;
  justify-content: center;
  align-items: center; 
  padding-right: 10px;
}

#show-page-report1, #show-page-report2, #show-page-report3, #show-page-report4, #show-page-report5, #show-page-report6{
  margin-top: 20px;
  display: block;
  text-align: center;
}

#show-page-report1 a, #show-page-report2 a, #show-page-report3 a, #show-page-report4 a, #show-page-report5 a, #show-page-report6 a {
  display: block;
  padding: 10px 20px;
  background-color: rgba(90, 84, 104, 1);
  color: white;
  font-weight: bold;
  text-decoration: none;
}

#show-page-report1 a:hover, #show-page-report2 a:hover, #show-page-report3 a:hover, #show-page-report4 a:hover, #show-page-report5 a:hover, #show-page-report6 a:hover {
  background-color: rgba(26, 21, 32, 1);
  transition: 0.3s;
  border-radius: 20%;
}

.buttons-reports {
  display: flex;
  justify-content: center;
  align-items: center;
}

#show-page-report1 button,
#show-page-report2 button,
#show-page-report3 button,
#show-page-report4 button,
#show-page-report5 button,
#show-page-report6 button{
  display: block;
  padding: 10px 20px;
  background-color: rgba(90, 84, 104, 1);
  color: white;
  font-weight: bold;
  text-decoration: none;
  margin-bottom: 10px;
}

#show-page-report1 button:hover,
#show-page-report2 button:hover,
#show-page-report3 button:hover,
#show-page-report4 button:hover,
#show-page-report5 button:hover,
#show-page-report6 button:hover {
  background-color: rgba(26, 21, 32, 1);
  transition: 0.3s;
  border-radius: 20%;
}