* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}

body {
  font-family: 'Poppins', sans-serif;
  overflow: auto;
  position: relative;
  background: rgb(247,246,246);
  background: linear-gradient(90deg, rgba(232,237,247,1) 0%, rgba(253,255,254,1) 35%, rgba(232,237,247,1) 100%);
}

body::before {
  content: "";
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-image: url("../img/Logo-vector-bottom.png");
  background-repeat: no-repeat;
  background-size: 15%; 
  background-position: bottom; 
  filter: blur(2px);
  z-index: -1;
}

button {
  background-color: rgba(90, 84, 104, 1);
  color: white;
  border: none;
  padding: 8px 16px;
  font-weight: bold;
  cursor: pointer;
  font-size: 25px;
  transition: background-color 0.3s;
}

button:hover {
  background-color: rgba(26, 21, 32, 1);
  transition: 0.3s;
  border-radius: 10px;
}

.user-bar {
  background-color: rgba(90, 84, 104, 1);
  padding: 10px;
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.img-userbar {
  width: 310px;
  height: 60px;
}

.user-info {
  display: flex;
  align-items: center;
  font-family: 'Poppins', sans-serif;
  font-weight: bold;
}

.user-info span {
  margin-right: 10px;
}

span {
  color: #fff;
  font-size: 25px;
}

.select-large {
  width: 300px;
  height: 100px;
  color: black;
  margin-top: 60px;
  margin-left: 30px;
  padding: 10px;
  border-radius: 5px;
  font-size: 18px;
}

.empresa-option {
  color: rgba(90, 84, 104, 1);
}

.dropdowns {
  display: flex;
  justify-content: center;
  align-items: center;
  padding-right: 10px;
}

#show-page-report1,
#show-page-report2,
#show-page-report3,
#show-page-report4,
#show-page-report5,
#show-page-report6,
#show-page-report7,
#show-page-report8,
#show-page-report9, 
#show-page-report10,
#show-page-report11, 
#show-page-report12,
#show-page-report13,
#show-page-report14,
#show-page-report15,
#show-page-report16,
#show-page-report17,
#show-page-report18,
#show-page-report19,
#show-page-report20,
#show-page-report21,
#show-page-report22,
#show-page-report23 {
  margin-top: 60px;
  display: block;
  text-align: center;
  border-radius: 25%;
  border-style: double;
}

#show-page-report1 a,
#show-page-report2 a,
#show-page-report3 a,
#show-page-report4 a,
#show-page-report5 a,
#show-page-report6 a,
#show-page-report7 a,
#show-page-report8 a,
#show-page-report9 a,
#show-page-report10 a,
#show-page-report11 a,
#show-page-report12 a,
#show-page-report13 a,
#show-page-report14 a,
#show-page-report15 a,
#show-page-report16 a,
#show-page-report17 a,
#show-page-report18 a,
#show-page-report19 a,
#show-page-report20 a,
#show-page-report21 a,
#show-page-report22 a,
#show-page-report23 a {
  display: block;
  padding: 10px 20px;
  color: white;
  font-weight: bold;
  text-decoration: none;
}

.buttons-reports {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  align-items: center;
  margin-top: 20px;
}

#show-page-report1 button,
#show-page-report2 button,
#show-page-report3 button,
#show-page-report4 button,
#show-page-report5 button,
#show-page-report6 button,
#show-page-report7 button,
#show-page-report8 button,
#show-page-report9 button,
#show-page-report10 button,
#show-page-report11 button,
#show-page-report12 button,
#show-page-report13 button, 
#show-page-report14 button,
#show-page-report15 button,
#show-page-report16 button,
#show-page-report17 button,
#show-page-report18 button,
#show-page-report19 button,
#show-page-report20 button,
#show-page-report21 button,
#show-page-report22 button,
#show-page-report23 button {
  display: block;
  padding: 10px 20px;
  background-color: rgba(90, 84, 104, 1);
  color: white;
  font-weight: bold;
  text-decoration: none;
  margin-bottom: 10px;
}

#show-page-report1 button:hover,
#show-page-report2 button:hover,
#show-page-report3 button:hover,
#show-page-report4 button:hover,
#show-page-report5 button:hover,
#show-page-report6 button:hover,
#show-page-report7 button:hover,
#show-page-report8 button:hover, 
#show-page-report9 button:hover, 
#show-page-report10 button:hover,
#show-page-report11 button:hover, 
#show-page-report12 button:hover,
#show-page-report13 button:hover,
#show-page-report14 button:hover,
#show-page-report15 button:hover,
#show-page-report16 button:hover,
#show-page-report17 button:hover,
#show-page-report18 button:hover,
#show-page-report19 button:hover,
#show-page-report20 button:hover,
#show-page-report21 button:hover,
#show-page-report22 button:hover,
#show-page-report23 button:hover{
  background-color: rgba(26, 21, 32, 1);
  transition: 0.3s;
}

#clear-button,
#clear-button-d,
#clear-button-e {
  margin-bottom: 10px;
  width: 2%;
  font-size: 15px;
  background-color: #aa4655;
}

.report-button {
  margin-left: 10px;
  margin-right: 10px;
}

.buttons-reports button {
  width: 300px;
  height: 150px;
}

.buttons-reports button a i,
.buttons-reports button a {
  display: block;
  text-align: center;
  margin-bottom: 10px;
}

.icon-cheques {
  color: rgb(113, 197, 221);
  font-size: 45px;
}

.icon-compras {
  color: rgb(146, 197, 182);
  font-size: 45px;
}

.icon-recepcion {
  color: rgb(154, 167, 230);
  font-size: 45px;
}

.icon-logout {
  color: #EAEAEA;
}

.icon-tickets {
  color: rgb(180, 224, 115);
  font-size: 45px;
}

.icon-tickets-general {
  color: rgb(218, 112, 112);
  font-size: 45px;
}

.icon-levantamientos {
  color: rgb(79, 156, 80);
  font-size: 45px;
}

.icon-quejas {
  color: rgb(85, 173, 205);
  font-size: 45px;
}

.icon-odc {
  color: rgb(212, 157, 212);
  font-size: 45px;
}

.icon-marcaje {
  color: rgb(202, 145, 112);
  font-size: 45px;
}

.icon-azteca {
  color: rgb(206, 226, 136);
  font-size: 45px;
}

.icon-login {
  color: rgb(201, 133, 161);
  font-size: 45px;
}

.icon-tickets-conta {
  color: rgb(223, 203, 25);
  font-size: 45px;
}

.icon-tickets-solicitante {
  color: rgb(73, 193, 214);
  font-size: 45px;
}

.icon-sat-delta {
  color: rgb(189, 149, 133);
  font-size: 45px;
}

.icon-saldos {
  color: rgb(15, 218, 22);
  font-size: 45px;
}

.icon-cronograma {
  color: rgb(121, 87, 235);
  font-size: 45px;
}

.icon-nova-queja {
  color: rgb(69, 193, 202);
  font-size: 45px;
}

@keyframes fadeInDown {
  0% {
    opacity: 0;
    transform: translateY(-20px);
  }
  100% {
    opacity: 1;
    transform: translateY(0);
  }
}

.dropdowns {
  animation: fadeInDown 1s ease-out;
}

@keyframes fadeInUp {
  0% {
    opacity: 0;
    transform: translateY(20px);
  }
  100% {
    opacity: 1;
    transform: translateY(0);
  }
}


.buttons-reports {
  animation: fadeInUp 1s ease-out;
}

.fade-in-up {
  animation: fadeInUp 1s ease-out;
}

@keyframes fadeIn {
  from {
    opacity: 0;
  }
  to {
    opacity: 1;
  }
}

@keyframes fadeOut {
  from {
    opacity: 1;
  }
  to {
    opacity: 0;
  }
}

#info-popup {
  background-color: rgba(26, 21, 32, 1);
  color: #fff;
  padding: 40px 30px;  
  text-align: center;
  font-size: 18px;
  font-weight: bold;
  position: fixed;
  top: 100px; 
  left: 10%;
  transform: none; 
  z-index: 1000;
  border-radius: 10px;
  box-shadow: 0px 4px 12px rgba(0, 0, 0, 0.1);
  max-width: 300px;  
  opacity: 0;
  transition: opacity 0.4s ease-in-out;
}

#info-popup-2 {
  background-color: rgba(26, 21, 32, 1);
  color: #fff;
  padding: 40px 30px;  
  text-align: center;
  font-size: 18px;
  font-weight: bold;
  position: fixed;
  top: 100px; 
  right: 5%;
  transform: none; 
  z-index: 1000;
  border-radius: 10px;
  box-shadow: 0px 4px 12px rgba(0, 0, 0, 0.1);
  max-width: 450px;  
  opacity: 0;
  transition: opacity 0.4s ease-in-out;
}

#info-popup-2 a {
  text-decoration: none;
  color: #EAEAEA; 
}

#info-popup-2 a:hover {
  text-decoration: underline; 
}

.close-btn {
  position: absolute;
  top: 10px;
  right: 10px;
  background: none;
  border: none;
  font-size: 24px;
  cursor: pointer;
  color: #d99f8f;
  padding: 5px;
}

.logo-footter {
	position: fixed;      
	bottom: 0;            
	left: 0;              
	z-index: 10;          
	opacity: 0.5;
	width: 150px;
	height: 169px;
	object-fit: cover;
}
