@import url('https://fonts.googleapis.com/css?family=Montserrat|Montserrat+Alternates|Poppins&display=swap');

*{
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  position: relative;
}

body::before {
  content: "";
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-image: url("../img/Logo_Input.png");
  background-repeat: no-repeat;
  background-size: 60%; 
  background-position: bottom; 
  filter: blur(7px);
  z-index: -1;
}

.user-bar .btn-menu label{
  color: #fff;
  font-size: 25px;
  cursor: pointer;
}

#btn-menu{
  display: none;
}

.container-menu{
  position: absolute;
  background: rgba(0,0,0,0.5);
  width: 100%;
  height: 100vh;
  top: 0;left: 0;
  transition: all 500ms ease;
  opacity: 0;
  visibility: hidden;
}
#btn-menu:checked ~ .container-menu{
  opacity: 1;
  visibility: visible;
}
.cont-menu{
  width: 100%;
  max-width: 250px;
  background: rgba(26, 21, 32, 1);
  height: 100vh;
  position: relative;
  transition: all 500ms ease;
  transform: translateX(-100%);
  z-index: 1;
}
#btn-menu:checked ~ .container-menu .cont-menu{
  transform: translateX(0%);
}
.cont-menu nav{
  transform: translateY(15%);
}
.cont-menu nav a{
  display: block;
  text-decoration: none;
  padding: 20px;
  color: #c7c7c7;
  border-left: 5px solid transparent;
  transition: all 400ms ease;
}
.cont-menu nav a:hover{
  border-left: 5px solid #c7c7c7;
  background: #1f1f1f;
}
.cont-menu label{
  position: absolute;
  right: 5px;
  top: 10px;
  color: #fff;
  cursor: pointer;
  font-size: 18px;
}

.tabulator .tabulator-header .tabulator-col .tabulator-col-content {
  box-sizing: border-box;
  position: relative;
  padding: 4px;
  width: 100%;
  background-color: rgba(26, 21, 32, 1);
  color: #fff;
}

.tabulator-table .tabulator-cell {
  color: #333;
}

.tabulator-export {
  background-color: rgba(26, 21, 32, 1);
  color: #fff;
  border-color: #fff;
  margin-top: 10px;
  padding: 8px 16px;
  cursor: pointer;
  display: block;
  margin: 0 auto;
  margin-top: 0.5rem;
}

.tabulator-export:hover {
  background-color: #0056b3;
}

.tabulator-buttons {
  display: flex;
  gap: 10px;
}

#refresh {
  background-color: rgba(26, 21, 32, 1);
  color: #fff;
  border-color: #fff;
  margin-top: 10px;
  padding: 8px 16px;
  cursor: pointer;
  display: block;
  margin: 0 auto;
  margin-top: 0.5rem;
}

.tabulator-export:hover {
  background-color: rgba(90, 84, 104, 1);
}

#refresh:hover {
  background-color: rgba(90, 84, 104, 1);
}

.tabulator {
  margin: 40px 3px 0 3px;
}

.user-bar {
  background-color: rgba(90, 84, 104, 1);
  padding: 10px;
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.user-info {
  display: flex;
  align-items: center;
}

.user-info span {
  margin-right: 10px;
}

span {
  color: #fff;
  font-size: 25px;
}

#id-empresa-input {
  border-radius: 4px;
  padding: 8px 16px;
  cursor: pointer;
  margin-top: 10px;
}

#id-cuenta-input {
  border-radius: 4px;
  padding: 8px 16px;
  cursor: pointer;
  margin-top: 10px;
}

.parameter-inputs {
  display: flex;
  justify-content: center;
  align-items: center;
  padding: 10px;
}

button {
  background-color: rgba(90, 84, 104, 1);
  color: white;
  border: none;
  padding: 8px 16px;
  font-weight: bold;
  cursor: pointer;
  font-size: 25px;
}

button:hover {
  background-color: rgba(26, 21, 32, 1);
  transition: 0.3s;
  border-radius: 20%;
}

.sidebar {
  background-color: rgba(90, 84, 104, 1);
  padding: 10px;
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  align-items: flex-start;
  height: 140%;
  position: absolute;
  left: 0;
  top: 0;
  margin-top: 62px;
}

.sidebar-section {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  margin-bottom: 20px;
}

.sidebar-title {
  color: #fff;
  font-size: 20px;
  font-weight: bold;
  margin-bottom: 10px;
}

.sidebar-button {
  background-color: rgba(90, 84, 104, 1);
  color: #fff;
  border: none;
  padding: 8px 16px;
  font-weight: bold;
  cursor: pointer;
  font-size: 16px;
  margin-bottom: 5px;
}

.sidebar-button:hover {
  background-color: rgba(26, 21, 32, 1);
  transition: 0.3s;
  border-radius: 20%;
}

.tabulator .tabulator-footer .tabulator-page.active {
  color: rgba(90, 84, 104, 1);
  color: #fff;
}

.tabulator .tabulator-footer .tabulator-page:hover {
  background-color: rgba(26, 21, 32, 1);
  color: #fff;
}

.tabulator .tabulator-footer .tabulator-page {
  display: inline-block;
  margin: 0 2px;
  padding: 2px 5px;
  border: 1px solid #aaa;
  border-radius: 3px;
  background: rgba(26, 21, 32, 1);
}

.dropdowns {
  display: flex;
  justify-content: center;
  align-items: center;
  margin-top: 20px;
}

.select-large {
  margin-top: 30px;
  margin-left: 30px;
  width: 300px;
  height: 100px;
}
