.tabulator .tabulator-header .tabulator-col .tabulator-col-content {
  box-sizing: border-box;
  position: relative;
  padding: 4px;
  background-color: #dcedc8;
}

/* Estilo del color de fuente de las celdas de la tabla */
.tabulator-table .tabulator-cell {
  color: #333;
}

/* Estilo del botón de exportación */
.tabulator-export {
  background-color: #007bff;
  color: #fff;
  border: none;
  margin-top: 10px;
  padding: 8px 16px;
  cursor: pointer;
  display: block; /* Hace que el botón sea un bloque para poder centrarlo */
  margin: 0 auto; /* Centra el botón horizontalmente */
  margin-top: 0.5rem;
}

/* Estilo del botón de exportación al pasar el ratón sobre él */
.tabulator-export:hover {
  background-color: #0056b3;
}
